.container {
  /*  background-color: lightblue; */
  width: 100%;
  max-width: 1400px;
  margin: 100px auto 0 auto;
  padding: 0px 20px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card {
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  width: 100%;
  max-width: 250px;
  height: 300px;
  border-radius: 12px;
  padding: 25px 15px;
}
.card > p:first-of-type {
  font-size: 1.1rem;
  text-align: center;
  text-transform: capitalize;
  padding-bottom: 15px;
  border-bottom: 1px solid #ccc;
  color: #777;
}

.cardRow {
  display: flex;
  flex-direction: column;
  padding: 15px 10px;
}
.cardRow p {
    font-size: 0.8rem;
}

@media (max-width: 904px) {
  .container {
    margin-top: 160px;
  }
}
@media (max-width: 699px) {
  .container {
    margin-top: 260px;
  }
}
