.homeContainer {
  padding: 15px;
  min-height: 100vh;
}

.portada {
  background-image: url("../assets/images/portada.jpg");
  background-size: cover;
  width: 100%;
  max-width: 1400px;
  margin: auto;
  border-radius: 12px;
  position: relative;
  height: 450px;
  display: flex;
  flex-direction: column;
}

.portada h1 {
  font-size: 5.2rem;
  font-weight: 100;
  text-align: center;
  flex-grow: 1;
  display: flex;
  padding: 0 30px;
  justify-content: center;
  align-items: center;
}

.header {
  padding: 30px 45px;
  display: flex;
  height: 81;
  align-items: center;
  gap: 45px;
}

.header a {
  text-decoration: none;
  color: black;
  display: block;
}

.header span {
  font-weight: 800;
  font-size: 1.1rem;
}

.header span:nth-child(2) {
  display: none;
}

.header a:first-of-type {
  margin-left: auto;
}

@media (max-width: 1000px) {
  .portada h1 {
    font-size: 4.2rem;
    margin-bottom: 100px;
  }
}
@media (max-width: 700px) {
  .header {
    padding: 30px 25px;
  }
  .header a {
    display: none;
  }
  .header span:nth-child(2) {
    display: block;
  }
}
@media (max-width: 700px) {
  .portada h1 {
    font-size: 3.8rem;
  }
}
@media (max-width: 620px) {
  .portada h1 {
    font-size: 3rem;
  }
}
