.inputContainer {
  max-width: 200px;
  width: 100%;
}
.inputContainer > p:nth-child(1) {
  font-size: 12px;
  padding-left: 10px;
  margin-bottom: 10px;
}
.input {
  font-family: sans-serif;
  height: 55px;
  width: 100%;
  padding: 10px 15px;
  border-radius: 18px;
  background-color: white;
  position: relative;
  display: flex;
  align-items: center;
}
.input:hover {
  cursor: pointer;
}
.inputOpen {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.listContainer {
  background-color: white;
  position: absolute;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  border-bottom-right-radius: 18px;
  border-bottom-left-radius: 18px;
  overflow: hidden;
  padding-bottom: 10px;
  z-index: 20;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.listContainer span {
  /* background-color: lightgreen; */
  height: 30px;
  display: flex;
  align-items: center;
  padding: 10px 15px;
  color: #666;
}
.listContainer span:hover {
  background-color: rgba(240, 128, 128,0.65);
  cursor: pointer;
}
